.main_wrapper img{
  padding-top: 1%;
  width:5%;
}
html {
  height: 150%;
  scroll-behavior: smooth;
}
body {
  height: 150%;
}
.main_wrapper {
  text-align: center;
  padding-top: 1%;
  background-color: rgba(242, 242, 242,1.00);
  font-family: 'Lato', sans-serif;
  position: relative;
  min-height: 125vh;
  margin: 0 auto;
  -ms-overflow-style: none;
}
.main_wrapper::-webkit-scrollbar {
    display: none;
}

.quick_links  {
  list-style-type: none;
  font-size: 14px;
  display: inline;
  font-family: 'Playfair Display', serif;
}
.quick_links li {
  display: inline-block;
}
.quick_links p {
  color: rgba(255, 0, 0, 0.0);
  transition: transform 250ms;
}
ul{
  padding-inline-start: 0px;
}
.quick_links img {
  width: 25%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  color: white;
  position: center;
  transition: transform 400ms;
}
.quick_links .ql_home:hover p, .quick_links .ql_posts:hover p, .quick_links .ql_links:hover p, .quick_links .ql_archives:hover p, .quick_links .ql_ac:hover p {
  position: center;
  color: black;
  float:none;
  transform: scale(1.4);
  z-index: 1;
}
.quick_links .ql_home:hover img, .quick_links .ql_posts:hover img, .quick_links .ql_links:hover img, .quick_links .ql_archives:hover img, .quick_links .ql_ac:hover img {
  position: center;
  float:none;
  transform: scale(1.2);
  z-index: 1;
}


.content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 300%;
  text-decoration: none;
  overflow: visible;
  position: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
#index_title {
  font-size: 400%;
  border-style: solid;
  margin: 0px;
  width: 37%;
  display: inline-block;
}
.index {
  padding-top: 6%;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/images/otter2.jpg");
  background-size:100%;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(14, 18, 23, 0.35);

}
.arrow {
  padding-top: 20%;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}

.construct a {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: white;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  right:48.7%;
}
.construct a:hover {
  opacity: .5;
}

#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#site_info {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5%;
}
h2 {
  font-family: 'Playfair Display', serif;
  font-size: 300%;
}

.end {
  font-weight: 300;
  color: rgba(255, 255, 255,1.00);
  text-decoration: none;
  padding-top: 2%;
  padding-bottom: 1.5%;
  background-color: rgba( 45, 58, 76, 1.00);
  position: center;
  width: 100%;
  left: 0%;
  bottom: 0%;
  overflow: hidden;
  position: absolute;
}
.end hr {
  width: 23%;
  margin-left: auto;
  margin-right: auto;
}
.Attribution, .att_flaticon a {
  color: rgba(255, 255, 255,1.00);
  text-decoration: none;
}

.att_flaticon ul {
  font-size: 80%;
  color: rgba(255, 255, 255,1.00);
  text-decoration: none;
  width:25%;
  align: center;
  margin-left: auto;
  margin-right: auto;
}
